.App {
  margin: 3.6rem 3rem;
  box-sizing: border-box;
}
.heading {
  text-align: center;
  background: linear-gradient(90.73deg, #7000ff 0.3%, #9f02ff 118.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.searchBar form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar form input {
  height: 23px;
  width: 300px;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}
.searchBtn img {
  padding: 9px;
  background: linear-gradient(90.73deg, #7000ff 0.3%, #9f02ff 118.8%);
  height: 17px;
  margin-top: 3px;
  border-radius: 0px 5px 5px 0px;
}
.container {
  display: flex;
  padding: 2rem;
  margin-top: 2rem;
}
.blogs {
  width: 65%;
  height: 100%;
}
.right {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
